[submodule "app/Plugin/StartupBlog"]
	path = app/Plugin/StartupBlog
	url = git@github.com:jacebeleren/startupblog.git
[submodule "app/Plugin/Migrations"]
	path = app/Plugin/Migrations
	url = git@github.com:CakeDC/migrations.git
